
<h3 class="pb-3">Reports</h3>

<table id="reportsTable" class="display pt-4 mb-4">
    <thead>
        <tr>
            <th>Report Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be populated by DataTable -->
    </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $('#reportsTable').DataTable({
            "ajax": {
                "url": "@Url.Action("ReportList", "PdfReport")",
                "type": "GET",
                "dataSrc": ""
            },
            "columns": [
                { "data": "name" },
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        return `<button type="button" class="btn btn-download btn-primary" onclick="downloadPdf(${data})">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>`;
                    },
                    "width": "15%"
                }
            ]
        });
    });

    function downloadPdf(reportId) {
        var url = '@Url.Action("DownloadPdf", "PdfReport")' + '?id=' + reportId;

        fetch(url, {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.blob();
            })
            .then(blob => {
                var downloadUrl = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = downloadUrl;
                a.download = 'report.pdf'; // You can dynamically set the file name here
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(downloadUrl);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>
