<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Janani</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../wwwroot/css/site.css" asp-append-version="true" />
</head>

<body>
    <header class="border-bottom">
        <div class="container">
            <div class="header-top d-flex justify-content-between pt-4">
                <div class="site-logo navbar-brand"><a href="/">Janani</a></div>
                <div class="site-socials">
                    <ul class="list-unstyled mb-0 d-flex gap-10">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="header-bottom pt-3">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/IncomeExpenses">Income Expenses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/ImageGallery">Image Gallery</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>

    </header>

    <main role="main" class="pb-5">
        <div class="hero-section position-relative">
            <div class="hero-img-wrap">
                <img src="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg"
                    alt="">
            </div>
            <div
                class="hero-desc position-absolute top-50 start-50 translate-middle mask text-light d-flex justify-content-center flex-column text-center">
                <h1 class="display-3">Welcome to Janani</h1>
                <p>Embark on Your Adventure with Us! Explore the World's Wonders Awaits.</p>
                <a class="btn btn-primary" href="#" role="button">Learn More</a>
            </div>
        </div>
        <div class="about-section text-center">
            <div class="container">
                <h2 class="display-6 text-center fw-medium">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <!-- .about-section -->

        <div class="gallery-section">
            <div class="container">
                <h2 class="display-6 text-center fw-medium">Gallery</h2>
                <div class="gallery-item-wrap mt-5">
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/9e07c3ac-9133-4462-bdb7-f38a13996496_view-palm-tree-species-with-green-foliage_23-2151486597.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/9e07c3ac-9133-4462-bdb7-f38a13996496_view-palm-tree-species-with-green-foliage_23-2151486597.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/a1d614eb-bef2-4cdf-b438-04b040a34517_banner-tour.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/a1d614eb-bef2-4cdf-b438-04b040a34517_banner-tour.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/713f3461-f5cc-40c7-b6c7-22b262cf99b9_Wildlife-in-Nepal-1536x864.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/713f3461-f5cc-40c7-b6c7-22b262cf99b9_Wildlife-in-Nepal-1536x864.jpg" />
                        </a>
                    </div>


                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/d7553231-18f5-4ab3-9dca-5669b4efb6f7_Elephant_Safari_inside_Chitwan_National_Park-805x400.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/d7553231-18f5-4ab3-9dca-5669b4efb6f7_Elephant_Safari_inside_Chitwan_National_Park-805x400.jpg" />
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/c6cadb10-8566-4402-ba0d-881c96e6565d_Local-People-in-Chitwan-NP.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/c6cadb10-8566-4402-ba0d-881c96e6565d_Local-People-in-Chitwan-NP.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/8a982405-05c8-4932-909a-d1c1fc33e62e_jeep-safari-in-chitwan-national-park.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/8a982405-05c8-4932-909a-d1c1fc33e62e_jeep-safari-in-chitwan-national-park.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/66154f03-bdf7-4414-908e-b2e2589b42e8_desert-cacti-in-studio_23-2151261764.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/66154f03-bdf7-4414-908e-b2e2589b42e8_desert-cacti-in-studio_23-2151261764.jpg" />
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="http://13.67.72.63:9012/uploads/f49de86d-8b4e-4277-bfe8-83e3083ec0e0_69bc9c3e85c501b0a6208cc7a55abbf9_XL.jpg"
                            data-fancybox="gallery">
                            <img
                                src="http://13.67.72.63:9012/uploads/f49de86d-8b4e-4277-bfe8-83e3083ec0e0_69bc9c3e85c501b0a6208cc7a55abbf9_XL.jpg" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted pt-4 pb-4 text-center">
        <div class="container">
            <div class="footer-logo"><a href="/">Janani</a></div>
            <div class="footer-bottom d-flex justify-content-between">
                <p class="copyright-text">&copy; 2024 - Janani</p>
                <div class="footer-bootom-links">
                    <ul class="list-unstyled d-flex gap-10 mb-0">
                        <li><a href="#" class="text-decoration-none">Privacy Policy</a></li>
                        <li><a href="#" class="text-decoration-none">Condition of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../wwwroot/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Fancybox CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
        integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
        integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


</body>

</html>
