@model CommonModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<main role="main">
    <div class="hero-section">
        <div class="hero-item-wrap">
            <div class="hero-item position-relative">
                <div class="hero-img-wrap">
                    <img src="http://13.67.72.63:9012/uploads/375f6436-47d5-4a2d-8006-8e344e3795e2_janani-hero-img-1.jpg"
                        alt="">
                </div>
                <div
                    class="hero-desc position-absolute top-50 start-50 translate-middle mask text-light d-flex justify-content-center flex-column text-center">
                    <h1 class="display-3">Master Plan of Dhamma Janani</h1>
                    <a class="btn btn-primary" href="#" role="button">Learn More</a>
                </div>
            </div>
            <div class="hero-item position-relative">
                <div class="hero-img-wrap">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/edqNRDFRAas?si=JI1fK0MrJRd68Yr6&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="hero-item position-relative">
                <div class="hero-img-wrap">
                    <img src="http://13.67.72.63:9012/uploads/d23d066b-fcb0-4dc7-a797-4eab4d2b87d9_janani-hero-collage.jpg"
                        alt="">
                </div>
                <div
                    class="hero-desc position-absolute top-50 start-50 translate-middle mask text-light d-flex justify-content-center flex-column text-center">
                    <h1 class="display-3">Welcome to Dhamma Janani</h1>
                    <a class="btn btn-primary" href="#" role="button">Learn More</a>
                </div>
            </div>
            
        </div>
    </div>
    <!-- .hero-section -->

    <div class="about-section text-center">
        <div class="container">
            <h2 class="display-6 text-center fw-medium">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <!-- .about-section -->

    <div class="gallery-section">

            <div class="paging-image">
                @Html.Partial("_ViewGallery", Model.ImageGallery)
            </div>
           @*  <h2 class="display-6 text-center fw-medium">Gallery</h2>
            <div class="gallery-item-wrap mt-5">
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/9e07c3ac-9133-4462-bdb7-f38a13996496_view-palm-tree-species-with-green-foliage_23-2151486597.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/9e07c3ac-9133-4462-bdb7-f38a13996496_view-palm-tree-species-with-green-foliage_23-2151486597.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/a1d614eb-bef2-4cdf-b438-04b040a34517_banner-tour.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/a1d614eb-bef2-4cdf-b438-04b040a34517_banner-tour.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/b0c9393e-2c76-449a-a51b-6ba498b0bb66_janani-hero-img.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/713f3461-f5cc-40c7-b6c7-22b262cf99b9_Wildlife-in-Nepal-1536x864.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/713f3461-f5cc-40c7-b6c7-22b262cf99b9_Wildlife-in-Nepal-1536x864.jpg" />
                    </a>
                </div>


                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/d7553231-18f5-4ab3-9dca-5669b4efb6f7_Elephant_Safari_inside_Chitwan_National_Park-805x400.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/d7553231-18f5-4ab3-9dca-5669b4efb6f7_Elephant_Safari_inside_Chitwan_National_Park-805x400.jpg" />
                    </a>
                </div>

                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/c6cadb10-8566-4402-ba0d-881c96e6565d_Local-People-in-Chitwan-NP.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/c6cadb10-8566-4402-ba0d-881c96e6565d_Local-People-in-Chitwan-NP.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/8a982405-05c8-4932-909a-d1c1fc33e62e_jeep-safari-in-chitwan-national-park.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/8a982405-05c8-4932-909a-d1c1fc33e62e_jeep-safari-in-chitwan-national-park.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/66154f03-bdf7-4414-908e-b2e2589b42e8_desert-cacti-in-studio_23-2151261764.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/66154f03-bdf7-4414-908e-b2e2589b42e8_desert-cacti-in-studio_23-2151261764.jpg" />
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="http://13.67.72.63:9012/uploads/f49de86d-8b4e-4277-bfe8-83e3083ec0e0_69bc9c3e85c501b0a6208cc7a55abbf9_XL.jpg"
                        data-fancybox="gallery">
                        <img
                            src="http://13.67.72.63:9012/uploads/f49de86d-8b4e-4277-bfe8-83e3083ec0e0_69bc9c3e85c501b0a6208cc7a55abbf9_XL.jpg" />
                    </a>
                </div>

            </div> *@
    </div>
    <!-- .gallery-section -->

    <div class="trans-report-section">
        @Html.Partial("_IncomeExpensesList")
           @*  <div class=" d-flex justify-content-between mb-4">
                <h2 class="display-6 fw-medium">Income and Expenses Report</h2>
                <div class="date-box">Date: 2024 June</div>
            </div>
            <div class="income-expense-report">
                <div class="income-data-wrap mb-5">
                    <h3>Income</h3>
                    <table class="category" data-category="Income">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Current Month Amount</th>
                                <th>Next Month Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-row" data-category-id="1">
                                <td><input type="text" class="form-control name" value="Salary"></td>
                                <td><input type="number" class="form-control current-month" value="200000.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="220000.0000"
                                        onchange="updateTotals()"></td>

                            </tr>
                            <tr class="data-row" data-category-id="1">
                                <td><input type="text" class="form-control name" value="Share Profit"></td>
                                <td><input type="number" class="form-control current-month" value="80000.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="90000.0000"
                                        onchange="updateTotals()"></td>

                            </tr>
                            <tr class="data-row" data-category-id="1">
                                <td><input type="text" class="form-control name" value="Shop Profit"></td>
                                <td><input type="number" class="form-control current-month" value="40000.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="45000.0000"
                                        onchange="updateTotals()"></td>
                            </tr>
                            <tr class="data-row" data-category-id="1">
                                <td><input type="text" class="form-control name" value="Test"></td>
                                <td><input type="number" class="form-control current-month" value="12.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="12.0000"
                                        onchange="updateTotals()"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <strong>Income Total</strong>
                                </td>
                                <td class="total-current-month">320012.00</td>
                                <td class="total-next-month">355012.00</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="exp-data-wrap">
                    <h3>Expenses</h3>
                    <table class="category">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Current Month Amount</th>
                                <th>Next Month Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-row" data-category-id="2">
                                <td><input type="text" class="form-control name" value="Food"></td>
                                <td><input type="number" class="form-control current-month" value="3000.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="5000.0000"
                                        onchange="updateTotals()"></td>

                            </tr>
                            <tr class="data-row" data-category-id="2">
                                <td><input type="text" class="form-control name" value="Flat Rent"></td>
                                <td><input type="number" class="form-control current-month" value="20000.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="20000.0000"
                                        onchange="updateTotals()"></td>

                            </tr>
                            <tr class="data-row" data-category-id="2">
                                <td><input type="text" class="form-control name" value="Travel"></td>
                                <td><input type="number" class="form-control current-month" value="4000.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="4000.0000"
                                        onchange="updateTotals()"></td>

                            </tr>
                            <tr class="data-row" data-category-id="2">
                                <td><input type="text" class="form-control name" value="Electricity"></td>
                                <td><input type="number" class="form-control current-month" value="1200.0000"
                                        onchange="updateTotals()"></td>
                                <td><input type="number" class="form-control next-month" value="1200.0000"
                                        onchange="updateTotals()"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Expenses Total</strong></td>
                                <td class="total-current-month">28200.00</td>
                                <td class="total-next-month">30200.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <strong>Current Month Total = </strong><span id="overall-current-total">291812.00</span>
                </div>
                <div class="col-6">
                    <strong>Next Month Total = </strong><span id="overall-next-total">324812.00</span>
                </div>
            </div> *@
    </div>
    <!-- .trans-report-section -->

    <div class="pdf-files">
        @Html.Partial("_PdfReportIndex")
    </div>

    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col contact-info-col">
                    <h2 class="display-6 fw-medium">Contact Us</h2>

                    <div class="contact-list pt-3">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-location-dot"></i>Address, City, Kathmandu,
                                Nepal</li>
                            <li><i class="fa-solid fa-phone"></i>+1-234-567-890</li>
                            <li><i class="fa-solid fa-envelope"></i>abcd@xyz.co</li>
                        </ul>
                    </div>
                </div>
                <div class="col contact-form-col">
                    <form action="#">
                        <label for="fullname" class="form-label mb-1">Full Name</label>
                        <input type="text" id="fullname" required>
                        <label for="email" class="form-label mb-1">Email Address</label>
                        <input type="email" id="email" required>
                        <label for="subject" class="form-label mb-1">Subject</label>
                        <input type="text" id="subject" required>
                        <label for="message" class="form-label mb-1">Message</label>
                        <textarea name="" id="message" required></textarea>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </main>
